<form action="/new" method="post">
  <label for="doc_name">Add a new document:</label>
  <input name="doc_name" id="doc_name" type="text"></input>
  <input type="submit" value="Create"></input>
</form>
<div>
  <a href="/"><button>Cancel</button></a>
</div>

