* {
  font-size: 100%;
  font-family: Sans-Serif;
}
.alert_failure {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  margin: 20px;
}
.alert_success {
  padding: 20px;
  background-color: #04AA6D; /* Red */
  color: white;
  margin-bottom: 15px;
  margin: 20px;
}